@font-face {
    font-family: LuckiestGuy ;
    src: url(../Fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

.imageleft img{
    float:left;
    border-radius: 50%;
    margin: 20px;
}
.paraleft{
    margin: 20px;
    float:left;
    font-family: 'LuckiestGuy';
    size: large;
}
.imageright img{
    float: right;
    border-radius: 50%;
    margin: 20px;
}
.pararight{
    margin: 20px;
    float:right;
    font-family: 'LuckiestGuy';
    size: large;
}