@font-face {
    font-family: Oswald;
    src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf);
  }
@font-face {
    font-family: Lobster;
    src: url(../Fonts/Lobster/Lobster-Regular.ttf);
}
.nav{
    height:80px;
    width: 100%;
}
.logo{
    color: rgb(0, 0, 0);
    font-family: 'Lobster';
    font-size: 35px;
    line-height: 80px;
    padding: 0 100Px ;
}
.right-container{
    float: right;
    margin-right: 20px;
}

.item{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
.login-button{
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    border: none;
    background: rgb(64, 122, 87);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

.register-button{
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    background: rgb(64, 122, 87);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}
#aboutUs{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    
    color: black;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}