@font-face {
    font-family: Ubuntu;
    src: url(Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family:LuckiestGuy;
    src: url(Fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}
.container {
    width: 100%;
    display:flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
  }

.form{
    max-width: 900px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    background-color: #006763;
    border-radius: 4px;
    display: table;
    align-items: center;
}
.col-25 {
    font-size: large;
    color: #54d685;
    font-family: 'LuckiestGuy';
    padding: 12px;
    float: left;
    margin: 20px;
  }

  
.col-75 {
    float: right;
    max-width:450px;
    width: 100%;
    padding: 10px;
    margin: 20px;
  }
.row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.row:after {
    content: "";
    clear: both;
  }
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=number], select, textarea {
    width: 100%;
    -webkit-appearance: none;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }